<div id="footer">
    <div class="footer-navigation">
        <div class="row">
            <div class="col-sm-4 col-1">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="10" />
            </div>
            <div class="col-sm-4 col-2">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="11" />
            </div>
            <div class="col-sm-4 col-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="12" />
            </div>
        </div>
    </div>
    <div class="footer-element">
        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="15" />
    </div>
</div>
